<div>
  <div class="card card-weather">
    <div class="card-body transmission-rate-section symptom-heading-section">
      <div class="about-heading">
        COVID-19 Coronavirus - Symptoms
      </div>
      <div
        style="font-size: 13px;
    cursor: pointer;
    color: rgb(88, 133, 232);"
      >
        Check Situation <i class="mdi mdi-arrow-right"></i>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-7 grid-margin stretch-card">
    <!--weather card-->
    <div class="card card-weather">
      <div class="card-body transmission-rate-section">
        <blockquote class="blockquote blockquote-primary block">
          <span class="no-vaccine"
            >There’s currently no vaccine to prevent coronavirus disease
            (COVID-19).
          </span>
          <footer class="blockquote-footer">
            Stay at home & <cite title="Source Title">Be safe.</cite>
          </footer>
        </blockquote>
        <div class="about-heading">
          Symptoms of Coronavirus
        </div>
        <p>
          The most common symptoms of COVID-19 are fever, tiredness, and dry
          cough. Some patients may have aches and pains, nasal congestion, runny
          nose, sore throat or diarrhoea. These symptoms are usually mild and
          begin gradually. Also the symptoms may appear 2-14 days after
          exposure.
        </p>
        <div class="comparison">
          <div class="major-symptoms">
            Major & Common Symptoms
          </div>
          <div class="symptom-type">
            <img
              class="symptom-img"
              src="../../assets/images/symptoms/fever.png"
              alt="Avatar"
            />
            <div class="symptom-experience">
              <span>Fever</span>
              <p>
                High Fever – this means you feel hot to touch on your chest or
                back (you do not need to measure your temperature). It is a
                common sign & also may appear in 2-10 days if affected.
              </p>
            </div>
          </div>
          <div class="symptom-type">
            <img
              class="symptom-img"
              src="../../assets/images/symptoms/cough.png"
              alt="Avatar"
            />
            <div class="symptom-experience">
              <span>Cough</span>
              <p>
                Continuous cough – this means coughing a lot for more than an
                hour, or 3 or more coughing episodes in 24 hours (if you usually
                have a cough, it may be worse than usual).
              </p>
            </div>
          </div>
          <div class="symptom-type">
            <img
              class="symptom-img"
              src="../../assets/images/symptoms/breathing.png"
              alt="Avatar"
            />
            <div class="symptom-experience">
              <span>Shortness of breath</span>
              <p>
                Difficulty breathing – Around 1 out of every 6 people who gets
                COVID-19 becomes seriously ill and develops difficulty breathing
                or shortness of breath.
              </p>
            </div>
          </div>
        </div>
        <div class="other-symptoms">
          <div class="about-heading">
            Others Symptoms
          </div>
          <p>
            Some patients may have aches and pains, nasal congestion, runny
            nose, sore throat or diarrhoea. These symptoms are usually mild &
            begin gradually. Some people become infected but don’t develop any
            symptoms & don't feel unwell. Most people (about 80%) recover from
            the disease without needing special treatment.
          </p>
          <p>
            Around 1 out of every 6 people who gets COVID-19 becomes seriously
            ill and develops difficulty breathing. Older people, and those with
            underlying medical problems like high blood pressure, heart problems
            or diabetes, are more likely to develop serious illness.
          </p>
          <div class="source-symptoms">
            These are for informational purposes only. Consult your local
            medical authority for advice. (Source: World Health Organization)
          </div>
        </div>
      </div>
    </div>
    <!--weather card ends-->
  </div>
  <div class="col-lg-5 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <iframe
          style="width: 100%;
          height: 300px;"
          class="embed-responsive-item"
          src="https://www.youtube.com/embed/bPITHEiFWLc?rel=0"
          allowfullscreen=""
        >
        </iframe>
        <div class="about-heading symptom-what-to-do">
          Symptoms and what to do
        </div>
        <span class="no-vaccine">
          You must do not leave your home if you have any of coronavirus
          symptoms (a high temperature or a new, continuous cough) call your
          medical service.
        </span>
        <div class="comparison">
          <div class="major-symptoms">
            Stay at home to stop coronavirus spreading
          </div>
          <p
            style="
            font-weight: 100;
            font-size: 14px;
            margin-top: 20px;"
          >
            Everyone must stay at home to help stop the spread of coronavirus.
            You should only leave the house for very limited purposes:
          </p>
          <ul class="list-ticked">
            <li>
              shopping for basic necessities, for example food and medicine,
              which must be as important.
            </li>
            <li>
              one form of exercise a day, for example a run, walk, or cycle –
              alone or with members of your household.
            </li>
            <li>
              any medical need, including to donate blood, avoid or escape risk
              of injury or harm, or to provide care or to help a vulnerable
              person.
            </li>
            <li>
              travelling for work purposes, but only where you cannot work from
              home.
            </li>
          </ul>
          <div class="other-symptoms">
            <div class="about-heading">
              Quick Links
            </div>
            <div class="about-quick-link">
              <span class="quick-link">
                Qouestion's on coronavirus
              </span>
              <i class="mdi mdi-arrow-right"></i>
            </div>
            <div class="about-quick-link">
              <span class="quick-link">
                Prevention of coronavirus
              </span>
              <i class="mdi mdi-arrow-right"></i>
            </div>
            <div class="about-quick-link">
              <span class="quick-link">
                Learn more on who
              </span>
              <i class="mdi mdi-arrow-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
