.about-heading {
  font-size: 20px;
  font-weight: 500;
}

.transmission-rate-section p {
  font-weight: 100;
  font-size: 14px;
  margin-top: 20px;
}

.comparison {
  font-size: 15px;
}

.symptom-heading-section .about-heading {
  flex-grow: 1;
  font-size: 16px;
}

.symptom-heading-section {
  display: flex;
  flex-direction: row;
}
