<div>
  <div class="card card-weather">
    <div class="card-body transmission-rate-section symptom-heading-section">
      <div class="about-heading">
        COVID-19 Coronavirus - Symptoms
      </div>
      <div
        style="font-size: 13px;
    cursor: pointer;
    color: rgb(88, 133, 232);"
      >
        Check Situation <i class="mdi mdi-arrow-right"></i>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <link
    href="https://fonts.googleapis.com/css?family=Work+Sans:300,400"
    rel="stylesheet"
    type="text/css"
  />

  <section class="calculator" id="body">
    <form action="" class="wage-gap" id="wage-gap" onsubmit="return false;">
      When a white man<br />
      is paid
      <span class="salary-initial">
        <input
          type="number"
          min="0"
          step="100"
          id="salary-initial"
          name="salary-initial"
          onchange="calculateTotal()"
        /><label class="input__label">
          <span class="input__label-content">$</span></label
        ></span
      >,

      <!--      <span class="input">-->
      <select
        class="input"
        id="womanethnicity"
        name="womanethnicity"
        onchange="calculateTotal()"
      >
        <option value="latina">
          a Hispanic/Latina woman
        </option>
        <option value="black">
          a Black woman
        </option>
        <option value="pacificislander">
          a Pacific Islander woman
        </option>
        <option value="ndn">
          a Native American woman
        </option>
        <option value="asian">
          an Asian American woman
        </option>
      </select>

      earns only

      <span id="salary-calculated"></span>
    </form>
  </section>

  <section class="data">
    <table>
      <thead>
        <tr>
          <td>Race or Ethnicity</td>
          <td>Wage gap compared with white women</td>
          <td>Wage gap compared with white men</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Hispanic or Latina</td>
          <td>69%</td>
          <td>54%</td>
        </tr>
        <tr>
          <td>African American</td>
          <td>80%</td>
          <td>63%</td>
        </tr>
        <tr>
          <td>Native Hawaiian &amp; Pacific Islander</td>
          <td>79%</td>
          <td>62%</td>
        </tr>
        <tr>
          <td>American Indian &amp; Alaska Native</td>
          <td>76%</td>
          <td>59%</td>
        </tr>
        <tr>
          <td>Asian American</td>
          <td>115%</td>
          <td>90%</td>
        </tr>
      </tbody>
    </table>

    <p>
      <a
        href="http://www.aauw.org/research/the-simple-truth-about-the-gender-pay-gap/"
        >Source</a
      >. Based on median annual earnings of full-time, year-round workers, ages
      16 and older, 2014.
    </p>

    <h1>
      The overall wage gap between men and women is
      <em title="The same gap between white women and white men.">22%</em>, but
      women of color experience a much greater wage deficit.
    </h1>

    <p>
      <a
        href="https://www.americanprogress.org/issues/women/report/2015/04/14/110962/women-of-color-and-the-gender-wage-gap/"
        >AmericanProgress.org</a
      >: “Researchers estimate that a portion of the overall gender wage gap can
      be attributed to factors such as occupation, differences in hours worked,
      and time spent in the labor force. These differences are not purely the
      result of ‘women’s choices.’ They reflect significant structural and
      economic realities that limit women’s abilities to compete with men in the
      labor force, resulting in lower pay.”
    </p>
  </section>
</div>
