<div>
  <div class="card card-weather">
    <div class="card-body transmission-rate-section symptom-heading-section">
      <div class="about-heading">
        What to do, F* u Corona.
      </div>
      <div
        style="font-size: 13px;
    cursor: pointer;
    color: rgb(88, 133, 232);"
        routerLink="/home"
      >
        Check Situation <i class="mdi mdi-arrow-right"></i>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-7 grid-margin stretch-card">
    <!--weather card-->
    <div class="card card-weather">
      <div class="card-body transmission-rate-section">
        <blockquote class="blockquote blockquote-primary block">
          <span class="no-vaccine"
            >Honestly I feel this is the best time you can get, either to
            improve, be better health, relationship, something you thought that
            you need to do. It can be anything and everything.
          </span>
          <footer class="blockquote-footer">
            You already know what you want to do. Just ask yourself -<cite
              title="Source Title"
            >
              who am I.</cite
            >
          </footer>
        </blockquote>
        <div class="about-heading">
          What to do ?
        </div>
        <p>
          This first-of-a-kind (Social Distancing) step is to ensure your safety
          and prevent the spread of the viral infection. However, you may feel
          bored and experience anxiety while staying at home 24/7. Fortunately,
          you can take this positively and have a great time by doing various
          engaging and interesting activities at home and giving time to
          yourself and your family. Scroll down to find the best things that you
          can do during lockdown.
        </p>
        <div class="comparison">
          <div class="symptom-type">
            <div class="symptom-experience">
              <span>Read a Book</span>
              <p>
                Reading a novel, any interesting story book, or magazine will
                not only keep you engaged but also strengthen your memory and
                instigate positive mood and happiness to get rid of the boredom.
                Grab your favorite book, snuggle in the cozy corner of your room
                and enjoy reading.
              </p>
            </div>
          </div>
          <div class="symptom-type">
            <div class="symptom-experience">
              <span>Spend quality time with your Family</span>
              <p>
                One of the best moments which you long for throughout your life
                is spending quality time with your family and kids. And,
                lockdown serves as the best opportunity to spend wonderful time
                with your beloved ones at home. Engage with your kids, tell them
                pleasant stories and play various games with your little ones &
                rest of the family. Spend a fantastic time talking and laughing
                with your loved ones and create precious moments to treasure for
                the lifetime.
              </p>
            </div>
          </div>
          <div class="symptom-type">
            <div class="symptom-experience">
              <span>Cook your favorite Delicacies</span>
              <p>
                One of the best activities that you often miss due to your busy
                work life is cooking your and your family’s favorite delicacies.
                Take hold of your kitchen during the lockdown and prepare
                various savoury cuisines and snacks for your dear ones at home.
                Kids are surely going to love this!
              </p>
            </div>
          </div>
          <div class="symptom-type">
            <div class="symptom-experience">
              <span>Declutter your Home</span>
              <p>
                Invest some time in cleaning your home daily. Decluttering
                brings in positive energy. Keeping your home spic-n-span not
                only drives away unpleasant dust and dirt from your abode but
                also offers you positive vibes and charms you up.
              </p>
            </div>
          </div>
          <div class="symptom-type">
            <div class="symptom-experience">
              <span>Listen to Music</span>
              <p>
                Please your ears and mind by listening to the melodious tunes of
                music. Pleasant music sets the mood and compels you to stay
                happy, no matter where you are. So, play the playlist of your
                favorite songs and beat the gloominess, which you may experience
                while being at home for days together.
              </p>
            </div>
          </div>
          <div class="symptom-type">
            <div class="symptom-experience">
              <span>Meditate</span>
              <p>
                Keep your mind peaceful by practicing meditation every day.
                Inhale and exhale slowly focusing on your mind and experience
                relaxation which is sure to help you beat the lockdown stress.
                Learn various mediating practices and breathing exercises
                online.Keep your mind peaceful by practicing meditation every
                day. Inhale and exhale slowly focusing on your mind and
                experience relaxation which is sure to help you beat the
                lockdown stress. Learn various mediating practices and breathing
                exercises online.
              </p>
            </div>
          </div>
          <div class="symptom-type">
            <div class="symptom-experience">
              <span>Practice Yoga</span>
              <p>
                Balance your mind and body while being at home by practicing
                various yoga poses. Yoga helps improve your circulatory and
                cardio health, respiratory system and vitality, regulate your
                weight, achieve balanced metabolism and enhance your overall
                physical as well as psychological health. If you do not know
                yoga, watch some yoga videos on YouTube and practice various
                yoga poses.Balance your mind and body while being at home by
                practicing various yoga poses. Yoga helps improve your
                circulatory and cardio health, respiratory system and vitality,
                regulate your weight, achieve balanced metabolism and enhance
                your overall physical as well as psychological health. If you do
                not know yoga, watch some yoga videos on YouTube and practice
                various yoga poses.
              </p>
            </div>
          </div>
        </div>
        <div class="other-symptoms">
          <div class="about-heading">
            Learn to live with it
          </div>
          <p>
            The above strategies can help to reduce boredom, but it’s still
            important to be able to tolerate it when it’s unavoidable. This is
            an important life skill that we had not been practicing as often in
            the days before COVID-19, because technology provides easy
            entertainment.
          </p>
          <p>
            Some patients may have aches and pains, nasal congestion, runny
            nose, sore throat or diarrhoea. These symptoms are usually mild &
            begin gradually. Some people become infected but don’t develop any
            symptoms & don't feel unwell. Most people (about 80%) recover from
            the disease without needing special treatment.
          </p>
          <ul class="list-ticked">
            <li>
              Avoid catastrophizing : <br />
              Repeatedly telling yourself (and others) how bored you are only
              makes it feel worse and makes it harder to think of alternatives.
              Think past the current situation and remind yourself that better
              times will come.
            </li>
            <li>
              Use the time to think: <br />
              If there really is nothing to do but sit and wait, then use the
              time to reflect on a thorny problem, reflect on where your life is
              going, reminisce about enjoyable times, plan the rest of your day,
              think of romantic things to do for your partner, or brainstorm
              acts of kindness you could perform.
            </li>
            <li>
              Remember the bigger picture: <br />
              If you need to do something boring, remind yourself of the rewards
              for working on it or perhaps the punishments for not doing it now.
              (Tip: Working toward positives is more motivating). It may also
              help to reduce the pull of other more interesting activities that
              will hijack your attention away from the boring task.
            </li>
            <li>
              Be mindful: <br />
              Mindfulness training helps one identify and then tolerate
              uncomfortable experiences and emotions, including boredom. This is
              just one of the benefits of mindfulness training. You can search
              for articles on mindfulness for all ages in the Attention archives
              or previous blog posts.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--weather card ends-->
  </div>
  <div class="col-lg-5 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <iframe
          style="width: 100%;
          height: 300px;"
          class="embed-responsive-item"
          src="https://www.youtube.com/embed/xnLoToJVQH4?rel=0"
          allowfullscreen=""
        >
        </iframe>
        <div class="about-heading symptom-what-to-do">
          Fun is what you find in.
        </div>
        <span class="no-vaccine"> </span>
        <div class="comparison">
          <div class="major-symptoms">
            Happiness is when what you think, what you say, and what you do are
            in harmony.
          </div>
          <p
            style="
            font-weight: 100;
            font-size: 14px;
            margin-top: 20px;"
          >
            “I have learned that you can go anywhere you want to go and do
            anything you want to do and buy all the things that you want to buy
            and meet all the people that you want to meet and learn all the
            things that you desire to learn and if you do all these things but
            are not madly in love: you have still not begun to live.” ― C.
            JoyBell
          </p>
          <ul class="list-ticked">
            <li>
              <strong>Don’t fight the inevitable:</strong> <br />
              Feeling boring is totally fine that describes that you are
              creative and tends to do things. Start with acceptance and figure
              out what you want to do.
            </li>
            <li>
              <strong>Spice it up:</strong> <br />
              Make it more enjoyable. Crank up the music, call or videochat with
              a friend, bookend and body double with someone while doing the
              chore, and so forth.Make it more enjoyable. Crank up the music,
              call or videochat with a friend, bookend and body double with
              someone while doing the chore, and so forth.
            </li>
            <li>
              <strong>Make it a game:</strong> <br />
              Kids especially benefit from making the activity a game or
              competition. Get creative and get silly.
            </li>
            <li>
              <strong>Avoid problematic behaviors:</strong> <br />
              If you get restless when bored and tend to gravitate toward
              unhealthy coping mechanisms (starting some drama, drinking,
              smoking, kicking a ball in the house, or other unhealthy
              behaviors), then the first and most important thing to do is to
              stop and replace these behaviors. Notice those triggers before
              acting on them, then use the other strategies and options offered
              here instead.
            </li>
            <li>
              <strong>Treat depression and anxiety:</strong> <br />
              Both depression and anxiety can stop you from doing what you need
              to do or pursuing interesting activities. Even while their offices
              are closed, you can reach out for help from a practitioner who
              offers telemental health appointments and services.
            </li>
            <li>
              <strong>Don’t get pulled into the drama:</strong> <br />
              Allowing yourself to get drawn into an argument helps them avoid
              boredom, but there are probably better ways. So talk about what
              the drama does for them. Identify the need; then brainstorm better
              ways to meet that need and cues that you can each use to indicate
              that drama may be on the way.
            </li>
            <li>
              <strong>Brainstorm your fun list:</strong> <br />
              Think of activities you tend to enjoy, as well as some new
              options. Maybe even set up the stuff you will need so that doesn’t
              become a barrier.
            </li>
            <li>
              <strong>Fake it till you make it:</strong> <br />
              There can be an inertia to boredom, so you may need to just get
              moving on anything and then let that carry you to something
              better. What you start moving on doesn’t matter much as long as it
              gets you going. Then let the momentum carry you to something that
              you really will enjoy.There can be an inertia to boredom, so you
              may need to just get moving on anything and then let that carry
              you to something better. What you start moving on doesn’t matter
              much as long as it gets you going. Then let the momentum carry you
              to something that you really will enjoy.
            </li>
            <li>
              <strong>Get to work:</strong> <br />
              We feel bored not just when there isn’t anything interesting to
              do, but also when we lack meaningful activity. So find a job to do
              and focus on the benefits of doing it. The sense of accomplishment
              can override boredom.
            </li>
          </ul>
          <div class="other-symptoms">
            <div class="about-heading">
              Quick Links
            </div>
            <div class="about-quick-link">
              <span class="quick-link">
                <a
                  href="https://theconversation.com/6-things-you-can-do-to-cope-with-boredom-at-a-time-of-social-distancing-134734"
                >
                  Deal with boredom.
                </a>
              </span>
              <i class="mdi mdi-arrow-right"></i>
            </div>
            <div class="about-quick-link">
              <span class="quick-link">
                <a
                  href="https://www.who.int/news-room/photo-story/photo-story-detail/self-care-during-covid-19"
                >
                  Self care during Covid-19
                </a>
              </span>
              <i class="mdi mdi-arrow-right"></i>
            </div>
            <div class="about-quick-link">
              <span class="quick-link">
                <a
                  href="https://www.mayoclinic.org/diseases-conditions/coronavirus/in-depth/safe-activities-during-covid19/art-20489385"
                >
                  Safe outdoor activities
                </a>
              </span>
              <i class="mdi mdi-arrow-right"></i>
            </div>
            <div class="about-quick-link">
              <span class="quick-link">
                <a
                  href="https://www.cdc.gov/coronavirus/2019-ncov/daily-life-coping/personal-social-activities.html"
                >
                  Daily life coping
                </a>
              </span>
              <i class="mdi mdi-arrow-right"></i>
            </div>
            <div class="about-quick-link">
              <span class="quick-link">
                <a href="https://uwaterloo.ca/stories/arts/quarantine-boredom">
                  What it means to be 'Boredom'
                </a>
              </span>
              <i class="mdi mdi-arrow-right"></i>
            </div>
            <div class="about-quick-link">
              <span class="quick-link">
                <a
                  href="https://wxow.com/2020/03/25/how-to-cope-with-boredom-during-covid-19-pandemic/"
                >
                  Cope up with boredom
                </a>
              </span>
              <i class="mdi mdi-arrow-right"></i>
            </div>
            <div class="about-quick-link">
              <span class="quick-link">
                <a href="https://www.medlife.com/blog/covid-19-dos-and-donts/">
                  Do's and Don'ts to stay safe during this outbreak.
                </a>
              </span>
              <i class="mdi mdi-arrow-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
