<div>
  <div class="card card-weather">
    <div class="card-body transmission-rate-section symptom-heading-section">
      <div class="about-heading">
        COVID-19 Coronavirus - How to stay mentally fit.
      </div>
      <div
        style="font-size: 13px;
    cursor: pointer;
    color: rgb(88, 133, 232);"
      >
        Check Situation <i class="mdi mdi-arrow-right"></i>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-7 grid-margin stretch-card">
    <!--weather card-->
    <div class="card card-weather">
      <div class="card-body transmission-rate-section">
        <blockquote class="blockquote blockquote-primary block">
          <span class="no-vaccine"
            >"When you're different, sometimes you don't see the millions of
            people who accept you for what you are. All you notice is the person
            who doesn't." -- Jodi Picoult
          </span>
          <footer class="blockquote-footer">
            Stay at home & <cite title="Source Title">Be safe.</cite>
          </footer>
        </blockquote>
        <div class="about-heading">
          <a class="click_btn" (click)="openVideo('mentalHealth')"
            >How to look after your mental health</a
          >
        </div>
        <p>
          With all the change and uncertainty in life at the moment, taking care
          of your mental health has never been more important. There are several
          benefits associated with positive mental wellbeing, including things
          like:
        </p>
        <p>
          <a class="click_btn" (click)="openVideo('anxiety')"
            >reduced stress and anxiety</a
          ><br />
          improved moods and clearer thinking<br />
          a greater sense of calm and increased self-esteem<br />
          improved relationships.<br />
        </p>
        <div class="comparison">
          <div class="major-symptoms"></div>
          <div class="symptom-type">
            <div class="symptom-experience">
              <span>Understand your own mental health needs</span>
              <p>
                There are several elements worth considering as you try to
                understand your mental health needs. A good place to start is to
                find some quiet time in which you can reflect on how you’re
                feeling. Some questions to ask yourself might be:
              </p>
              <ul class="list-dot">
                <li>
                  Have you been more irritable with situations or people around
                  you?
                </li>
                <li>
                  Have you been less interested in activities you usually like?
                </li>
                <li>
                  Have you found it difficult to concentrate?
                </li>
                <li>
                  Have you been sleeping more or less than usual?
                </li>
                <li>
                  Have your changed routines had an impact on your sleep?
                </li>
                <li>
                  Have you felt overwhelmed and like there is too much to do?
                </li>
                <li>
                  Have you felt concerned about the future? What aspect
                  specifically?
                </li>
                <li>
                  Have you been able to get enough time to yourself to relax?
                </li>
              </ul>
            </div>
          </div>
          <div class="symptom-type">
            <div class="symptom-experience">
              <span>Practice mindfulness exercises </span>
              <p>
                Mindfulness is a practice that is beneficial no matter what’s
                going on in the world. If things seem a little stressful at the
                moment, and you’re finding it hard to focus, it could be the
                ideal remedy. But
                <a class="click_btn" (click)="openVideo('mindfull')"
                  >what is mindfulness?</a
                >
              </p>
              <p>
                A great place to start with mindfulness is with some basic
                breathing exercises. Take one minute out of your day to sit and
                focus on your breath. Notice the air going in and out of your
                nostrils as your chest rises and falls. If your mind wanders,
                gently bring it back to focus on your breathing.
              </p>
            </div>
          </div>
          <div class="symptom-type">
            <div class="symptom-experience">
              <span>Stay in touch with friends and family</span>
              <p>
                Although many of us can’t see friends and loved ones
                face-to-face at the moment, we can still keep in touch. Speaking
                with the people you care about can give you (and them) a mental
                boost.
              </p>
              <ul class="list-dot">
                <li>
                  <strong>Call your friends and family:</strong><br />
                  Try and arrange to speak with different people throughout the
                  week. It can give you something to look forward to and keep
                  you feeling social.
                </li>
                <li>
                  <strong>Arrange an online activity:</strong><br />
                  Play games, tell stories, and catch up remotely. You can even
                  do things like have a murder mystery party or set up a pub
                  quiz.
                </li>
                <li>
                  <strong>Send messages:</strong><br />
                  Try reaching out to some people you’ve not spoken with in a
                  while, even if it’s just a message to say hi.
                </li>
                <li>
                  <strong>Write letters:</strong><br />
                  If you’re feeling old school and you have the means, now might
                  be a good time to write to someone you care about.
                </li>
              </ul>
            </div>
          </div>
          <div class="symptom-type">
            <div class="symptom-experience">
              <span>Try to keep busy</span>
              <p>
                Now is the perfect time to explore your hobbies – or find some
                new ones. Challenge yourself to read that book you’ve been
                putting off, start that journal you’ve always wanted to keep or
                kick off your exercise regime.
              </p>
            </div>
          </div>
          <div class="symptom-type">
            <div class="symptom-experience">
              <span>Stay physically active</span>
              <p>
                Whether it’s running, dancing, cycling or weight lifting, there
                are plenty of activities you can pick up inside and outside the
                home. Choose one and get active!
              </p>
            </div>
          </div>
          <div class="symptom-type">
            <div class="symptom-experience">
              <span>Stay physically active</span>
              <p>
                Whether it’s running, dancing, cycling or weight lifting, there
                are plenty of activities you can pick up inside and outside the
                home. Choose one and get active!
              </p>
            </div>
          </div>
          <div class="symptom-type">
            <div class="symptom-experience">
              <span>Find a routine</span>
              <p>
                The NHS recommends that adults aged 19 to 64 need to do at least
                150 minutes of moderate-intensity activity a week. This includes
                being active every day and doing strengthening activities at
                least twice a week.
              </p>
            </div>
          </div>
          <div class="symptom-type">
            <div class="symptom-experience">
              <span>Set yourself a challenge</span>
              <p>
                Challenges are a great way of giving yourself regular,
                progressive exercise. You can see gradual progress, and have an
                end goal in sight. You can also challenge your friends and
                family to take up the challenge with you from their homes,
                keeping you connected and competitive.
              </p>
            </div>
          </div>
          <div class="symptom-type">
            <div class="symptom-experience">
              <span>Reduce your alcohol intake</span>
              <p>
                Stress drinking can result in greater feelings of depression,
                anxiety, and low mood. So, it can be a good idea to limit how
                much you’re drinking during lockdown.
              </p>
            </div>
          </div>
          <div class="symptom-type">
            <div class="symptom-experience">
              <span>Staying healthy is a habit</span>
              <p>
                With some simple changes to your daily routine, such as getting
                enough sleep, eating well, exercising, and keeping in touch with
                people, you can boost your mood and stay healthy.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--weather card ends-->
  </div>
  <div class="col-lg-5 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <iframe
          style="width: 100%;
          height: 300px;"
          class="embed-responsive-item"
          src="https://www.youtube.com/embed/xzNMABRELPg?rel=0"
          allowfullscreen=""
        >
        </iframe>
        <div class="about-heading symptom-what-to-do">
          Discover yourself !!!
        </div>
        <span class="no-vaccine">
          Already know the answers of your troubles, happiness, joy, botherings
          and you are just one step away in taking that decision.
        </span>
        <div class="comparison">
          <div class="major-symptoms">
            “Peace is the result of retraining your mind to process life as it
            is, rather than as you think it should be.” —Wayne W. Dyer
          </div>
          <ul class="list-dot">
            <li>
              <strong>Do some introspection.</strong> <br />
              It is a kind of self-reflection which gives you access into your
              internal world. How do you perceive life? How do you see the
              world? Who you are? And why you are the way you are? Answering
              these types of questions will provide you with an understanding of
              your nature and the way you see the world.
            </li>
            <li>
              <strong>Perform a self-analysis.</strong> <br />
              Get deeper into your inner soul and drill down the things that
              matter in your life. In simpler words, you need to perform a
              reality check of your life. It is a kind of mind mapping where you
              will be listing the things that inspire you, frustrate you, and
              make you happy or angry.
            </li>
            <li>
              <strong>Take a look at your past.</strong> <br />
              To make an attempt at self-discovery, you should see your past in
              the hindsight. Start from your childhood as it is the stage of
              life when we begin to form our opinions of the world and people.
              Analyze the events of your childhood through the eyes of an adult.
              Make a list of events that changed your life and shaped your ideas
              and beliefs in a certain way.
            </li>
            <li>
              <strong>Get focused in life.</strong> <br />
              Sometimes, the pressure and hassles of life tend to overwhelm our
              feelings and make us lose track of our lives. You cannot think
              clearly because you are suffering from financial troubles. You
              cannot focus on your work because you are having domestic issues.
              Similarly, you cannot explore yourself well enough if your mind is
              preoccupied with intrusive thoughts. Take a break from your work,
              disengage yourself from external affairs and then use this time to
              do self-reflections.
            </li>
            <li>
              <strong>Explore things that excite you.</strong> <br />
              Make a list of all the things that give you pleasure and motivate
              you in life. What are they? How do they relate to you? How do they
              make you happy? Answering these questions will give you an idea of
              the type of person you are and the things that influence you on
              emotional level.
            </li>
          </ul>
          <div class="other-symptoms">
            <div class="about-heading">
              Checkout following
            </div>
            <div class="about-quick-link">
              <span class="quick-link">
                <a
                  href="https://www.helpguide.org/articles/mental-health/building-better-mental-health.htm"
                >
                  Building mental health
                </a>
              </span>
              <i class="mdi mdi-arrow-right"></i>
            </div>
            <div class="about-quick-link">
              <span class="quick-link">
                <a
                  href="https://hackspirit.com/soul-searching-7-steps-to-finding-out-who-you-really-are/"
                >
                  Soul searching
                </a>
              </span>
              <i class="mdi mdi-arrow-right"></i>
            </div>
            <div class="about-quick-link">
              <span class="quick-link">
                <a
                  href="https://www.now-health.com/en/blog/activities-to-maintain-your-physical-and-mental-health-during-lockdown/"
                >
                  Activities to maintain your physical and mental health.
                </a>
              </span>
              <i class="mdi mdi-arrow-right"></i>
            </div>
            <div class="about-quick-link">
              <span class="quick-link">
                <a href="https://www.who.int/mental_health/en/">
                  WHO: intervention reduces psychological distress
                </a>
              </span>
              <i class="mdi mdi-arrow-right"></i>
            </div>
          </div>
          <div class="other-symptoms">
            <div class="about-heading">
              Quick Links
            </div>
            <div class="about-quick-link" routerLink="/social-distancing">
              <span class="quick-link">
                Why social distancing is important ?
              </span>
              <i class="mdi mdi-arrow-right"></i>
            </div>
            <div class="about-quick-link" routerLink="/prevention">
              <span class="quick-link">
                Prevention of coronavirus
              </span>
              <i class="mdi mdi-arrow-right"></i>
            </div>
            <div class="about-quick-link" routerLink="/what-to-do">
              <span class="quick-link">
                What to do ?
              </span>
              <i class="mdi mdi-arrow-right"></i>
            </div>
            <div class="about-quick-link" routerLink="/covid-calculator">
              <span class="quick-link">
                Survival calculator
              </span>
              <i class="mdi mdi-arrow-right"></i>
            </div>
            <div class="about-quick-link" routerLink="/economy-impact">
              <span class="quick-link">
                How it will impact the economy ?
              </span>
              <i class="mdi mdi-arrow-right"></i>
            </div>
            <div class="about-quick-link">
              <span class="quick-link">
                <a
                  href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019"
                  target="blank"
                >
                  Learn more on who
                </a>
              </span>
              <i class="mdi mdi-arrow-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <jw-modal id="mindfull">
    <div>
      <div class="dashboard-header">
        <i
          style="flex-grow: 0; margin-top: -15px; font-size: 24px;"
          (click)="closeVideo('mindfull', false)"
          class="mdi mdi-close text-danger icon-lg"
        ></i>
      </div>
      <iframe
        style="width: 100%;
          height: 650px;"
        class="embed-responsive-item"
        src="https://www.youtube.com/embed/qzR62JJCMBQ?rel=0"
        allowfullscreen=""
      >
      </iframe>
    </div>
  </jw-modal>

  <jw-modal id="anxiety">
    <div>
      <div class="dashboard-header">
        <i
          style="flex-grow: 0; margin-top: -15px; font-size: 24px;"
          (click)="closeVideo('anxiety')"
          class="mdi mdi-close text-danger icon-lg"
        ></i>
      </div>
      <iframe
        style="width: 100%;
          height: 650px;"
        class="embed-responsive-item"
        src="https://www.youtube.com/embed/xzNMABRELPg?rel=0"
        allowfullscreen=""
      >
      </iframe>
    </div>
  </jw-modal>

  <jw-modal id="mentalHealth">
    <div>
      <div class="dashboard-header">
        <i
          style="flex-grow: 0; margin-top: -15px; font-size: 24px;"
          (click)="closeVideo('mentalHealth')"
          class="mdi mdi-close text-danger icon-lg"
        ></i>
      </div>
      <iframe
        style="width: 100%;
          height: 650px;"
        class="embed-responsive-item"
        src="https://www.youtube.com/embed/g2JNs4_xO6k?rel=0"
        allowfullscreen=""
      >
      </iframe>
    </div>
  </jw-modal>
</div>
