<nav
  class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row"
>
  <div
    class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center"
  >
    <a
      class="navbar-brand brand-logo header-navbar-section"
      style="cursor: pointer; margin-left: -20px;"
      (click)="toggleSidebar()"
    >
      <img
        style="width: 28px;"
        src="../../../assets/images/home-dashboard/menu.png"
        alt="easy navigation"
      />
    </a>
    <a
      [routerLink]="'/home-dashboard'"
      class="navbar-brand brand-logo header-navbar-section"
      style="cursor: pointer; margin-left: 20px;"
    >
      <img
        style="width: 28px;"
        src="../../../assets/images/logo/journey-logo.png"
        alt="logo"
      />
      <p style="margin-top: 4px; margin-left: 10px; color: black;">
        JourneyIsOn
      </p>
    </a>
    <a class="navbar-brand brand-logo-mini" [routerLink]="'/home-dashboard'">
      <img
        style="width: 28px;"
        src="../../../assets/images/logo/journey-logo.png"
        alt="logo"
      />
    </a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center">
    <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
      <li class="nav-item">
        <a [routerLink]="'/world-map'" class="nav-link">
          <img
            class="world-status"
            src="../../../assets/images/home-dashboard/worldwide.png"
          />
          <span class="badge badge-primary ml-1">World map</span>
        </a>
      </li>
    </ul>
    <button
      class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
      type="button"
      (click)="toggleSidebar()"
    >
      <span class="mdi mdi-menu"></span>
    </button>
  </div>
</nav>
