<div>
  <div class="card card-weather">
    <div class="card-body transmission-rate-section symptom-heading-section">
      <div class="about-heading">
        COVID-19 Coronavirus - Prevention
      </div>
      <div
        style="font-size: 13px;
    cursor: pointer;
    color: rgb(88, 133, 232);"
        routerLink="/home"
      >
        Check Situation <i class="mdi mdi-arrow-right"></i>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-7 grid-margin stretch-card">
    <!--weather card-->
    <div class="card card-weather">
      <div class="card-body transmission-rate-section">
        <blockquote class="blockquote blockquote-primary block">
          <span class="no-vaccine"
            >If you develop a fever, cough, and have difficulty breathing,
            promptly seek medical care.
            <br />
            Call in advance and tell your health provider as soon as possible
            for medical advice.
          </span>
          <footer class="blockquote-footer">
            Stay at home & <cite title="Source Title">Be safe.</cite>
          </footer>
        </blockquote>
        <div class="about-heading">
          How to Protect Yourself?
        </div>
        <p>
          <strong
            >The best way to prevent illness is to avoid being exposed to this
            virus.</strong
          >
          As there is not vaccine to prevent so you can protect yourself and
          help prevent spreading the virus to others if you do as below
          instruction.
        </p>
        <div class="comparison">
          <!--          <div class="major-symptoms">-->
          <!--            How to Protect Yourself?-->
          <!--          </div>-->
          <div class="symptom-type">
            <img
              class="symptom-img"
              src="../../assets/images/prevention/washing.png"
              alt="Avatar"
            />
            <div class="symptom-experience">
              <span>Wash your hands frequently</span>
              <p>
                Regularly and thoroughly clean your hands with an alcohol-based
                hand rub or wash them with soap and water for at least 20
                seconds.
              </p>
              <p>
                <strong>Why?</strong> Washing your hands with soap and water or
                using alcohol-based hand rub kills viruses that may be on your
                hands.
              </p>
            </div>
          </div>
          <div class="symptom-type">
            <img
              class="symptom-img"
              src="../../assets/images/prevention/stay-at-home.png"
              alt="Avatar"
            />
            <div class="symptom-experience">
              <span>Maintain social distancing</span>
              <p>
                Maintain at least 1 metre (3 feet) distance between yourself &
                anyone who is coughing or sneezing. If you are too close, you
                get chance to get infected.
              </p>
              <p>
                <strong>Why?</strong> When someone coughs or sneezes they spray
                small liquid droplets from their nose or mouth which may contain
                virus. If you are too close, you can breathe in the droplets,
                including the COVID-19 virus if the person coughing has the
                disease.
              </p>
            </div>
          </div>
          <div class="symptom-type">
            <img
              class="symptom-img"
              src="../../assets/images/prevention/protection.png"
              alt="Avatar"
            />
            <div class="symptom-experience">
              <span>Avoid touching face</span>
              <p>
                Do not touch your eyes, nose or mouth if your hands are not
                clean.
              </p>
              <p>
                <strong>Why?</strong> Hands touch many surfaces and can pick up
                viruses. Once contaminated, hands can transfer the virus to your
                eyes, nose or mouth. From there, the virus can enter your body
                and can make you sick.
              </p>
            </div>
          </div>
          <div class="symptom-type">
            <img
              class="symptom-img"
              src="../../assets/images/prevention/protect.png"
              alt="Avatar"
            />
            <div class="symptom-experience">
              <span>Practice respiratory hygiene</span>
              <p>
                Make sure you, & the people around you, follow good respiratory
                hygiene. This means covering your mouth & nose with your bent
                elbow or tissue when you cough or sneeze.
              </p>
              <p>
                <strong>Why?</strong> Droplets spread virus. By following good
                respiratory hygiene you protect the people around you from
                viruses such as cold, flu and COVID-19.
              </p>
            </div>
          </div>
        </div>
        <div class="other-symptoms">
          <!--          <div class="about-heading">-->
          <!--            Others Symptoms-->
          <!--          </div>-->
          <!--          <p>-->
          <!--            Some patients may have aches and pains, nasal congestion, runny nose, sore throat or diarrhoea. These symptoms are usually mild & begin gradually. Some people become infected but don’t develop any symptoms & don't feel unwell. Most people (about 80%) recover from the disease without needing special treatment.-->
          <!--          </p>-->
          <!--          <p>-->
          <!--            Around 1 out of every 6 people who gets COVID-19 becomes seriously ill and develops difficulty breathing. Older people, and those with underlying medical problems like high blood pressure, heart problems or diabetes, are more likely to develop serious illness.-->
          <!--          </p>-->
          <div class="source-symptoms">
            These are for informational purposes only. Consult your local
            medical authority for advice. (Source: World Health Organization)
          </div>
        </div>
      </div>
    </div>
    <!--weather card ends-->
  </div>
  <div class="col-lg-5 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <iframe
          style="width: 100%;
          height: 300px;"
          class="embed-responsive-item"
          src="https://www.youtube.com/embed/bPITHEiFWLc?rel=0"
          allowfullscreen=""
        >
        </iframe>
        <div class="about-heading symptom-what-to-do">
          Take steps to protect others
        </div>
        <span class="no-vaccine">
          There are things you can do to help reduce the risk of you and anyone
          you live with getting ill with virus.
        </span>
        <div class="comparison">
          <div class="major-symptoms">
            Stay at home to stop coronavirus spreading
          </div>
          <p
            style="
            font-weight: 100;
            font-size: 14px;
            margin-top: 20px;"
          >
            Everyone must stay at home to help stop the spread of coronavirus.
            You should only leave the house for very limited purposes:
          </p>
          <ul class="list-ticked">
            <li>
              <strong>Stay home if you’re sick</strong> – Stay home if you are
              sick, except to get medical care.
            </li>
            <li>
              <strong>Cover your mouth & nose</strong> – with a tissue when you
              cough or sneeze.
            </li>
            <li>
              <strong>Wear a facemask if you are sick</strong> – You should wear
              a facemask when you are around other people (e.g., sharing a room
              or vehicle) and before you enter a healthcare provider’s office.
            </li>
            <li>
              <strong
                >Clean AND disinfect frequently touched surfaces daily</strong
              >
              – This includes phones, tables, doorknobs, light switches,
              handles, desktops, countertops, toilets etc.
            </li>
            <li>
              <strong>Stay informed about the local COVID-19 situation</strong>
              – Get up-to-date information about local COVID-19 activity from
              public health officials.
            </li>
          </ul>
          <div class="other-symptoms">
            <div class="about-heading">
              Quick Links
            </div>
            <div class="about-quick-link" routerLink="/social-distancing">
              <span class="quick-link">
                Why social distancing is important ?
              </span>
              <i class="mdi mdi-arrow-right"></i>
            </div>
            <div class="about-quick-link" routerLink="/symptoms">
              <span class="quick-link">
                Symptoms of coronavirus
              </span>
              <i class="mdi mdi-arrow-right"></i>
            </div>
            <div
              class="about-quick-link"
              routerLink="/how-to-stay-mentally-fit"
            >
              <span class="quick-link">
                How to stay mentally fit ?
              </span>
              <i class="mdi mdi-arrow-right"></i>
            </div>
            <div class="about-quick-link" routerLink="/what-to-do">
              <span class="quick-link">
                What to do ?
              </span>
              <i class="mdi mdi-arrow-right"></i>
            </div>
            <div class="about-quick-link" routerLink="/covid-calculator">
              <span class="quick-link">
                Survival calculator
              </span>
              <i class="mdi mdi-arrow-right"></i>
            </div>
            <div class="about-quick-link" routerLink="/economy-impact">
              <span class="quick-link">
                How it will impact the economy ?
              </span>
              <i class="mdi mdi-arrow-right"></i>
            </div>
            <div class="about-quick-link">
              <span class="quick-link">
                <a
                  href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019"
                  target="blank"
                >
                  Learn more on who
                </a>
              </span>
              <i class="mdi mdi-arrow-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
