<div>
  <div class="card card-weather">
    <div class="card-body transmission-rate-section symptom-heading-section">
      <div class="about-heading">
        COVID-19 Coronavirus - Economy and Growth impact
      </div>
      <div
        style="font-size: 13px;
    cursor: pointer;
    color: rgb(88, 133, 232);"
      >
        Check Situation <i class="mdi mdi-arrow-right"></i>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-7 grid-margin stretch-card">
    <!--weather card-->
    <div class="card card-weather">
      <div class="card-body transmission-rate-section">
        <blockquote class="blockquote blockquote-primary block">
          <span class="no-vaccine"
            >There’s currently no vaccine to prevent coronavirus disease
            (COVID-19).
          </span>
          <footer class="blockquote-footer">
            Stay at home & <cite title="Source Title">Be safe.</cite>
          </footer>
        </blockquote>
        <div class="about-heading">
          Covid-19 impact: According to IMF, the global economy is expected to
          shrink by over 3 per cent in 2020 – the steepest slowdown since the
          Great Depression of the 1930s.
        </div>
        <p>
          The IMF’s estimate of the global economy growing at -3 per cent in
          2020 is an outcome “far worse” than the 2009 global financial crises.
          Economies such as the US, Japan, the UK, Germany, France, Italy and
          Spain are expected to contract this year by 5.9, 5.2, 6.5, 7, 7.2, 9.1
          and 8 per cent respectively.
        </p>
        <p>
          China’s GDP dropped by 36.6 per cent in the first quarter of 2020,
          while South Korea’s output fell by 5.5 per cent, since the country
          didn’t impose a lockdown but followed a strategy of aggressive
          testing, contact tracing and quarantining.
          <br />
          In Europe, the GDPs of France, Spain and Italy fell by 21.3, 19.2 and
          17.5 per cent respectively.
        </p>
        <div class="comparison">
          <div class="major-symptoms">
            How it impacted ?
          </div>
          <div class="symptom-type">
            <div class="symptom-experience">
              <span>Oil and natural gas</span>
              <p>
                Due to the fall in travel, global industrial activity has been
                affected. Oil prices fell further in March as the transportation
                section, which accounts for 60 per cent of the oil demand, was
                hit due to several countries imposing lockdowns.
              </p>
            </div>
          </div>
          <div class="symptom-type">
            <div class="symptom-experience">
              <span>Industrial Metals</span>
              <p>
                Due to lockdowns in China, followed by in the US and Europe, the
                demand for industrial metals reduced as factories shut down. As
                per IMF, China accounts for roughly half of the global demand
                for industrial metals.
              </p>
            </div>
          </div>
          <div class="symptom-type">
            <div class="symptom-experience">
              <span>Food and beverages</span>
              <p>
                IMF projects a decrease in food prices by 2.6 per cent in 2020,
                caused by supply chain disruptions, border delays, food security
                concerns in regions affected by Covid-19 and export
                restrictions.IMF projects a decrease in food prices by 2.6 per
                cent in 2020, caused by supply chain disruptions, border delays,
                food security concerns in regions affected by Covid-19 and
                export restrictions.
              </p>
            </div>
          </div>
        </div>
        <div class="other-symptoms">
          <div class="about-heading">
            How have countries coped?
          </div>
          <p>
            According to an assessment by the World Economic Forum (WEF),
            supporting SMEs and larger businesses is crucial for maintaining
            employment and financial stability.
          </p>
          <p>
            Many advanced economies in the world have rolled out support
            packages. While India’s economic stimulus package is 10 per cent of
            its GDP, Japan’s is 21.1 per cent, followed by the US (13 per cent),
            Sweden (12 per cent), Germany (10.7 per cent), France (9.3 per
            cent), Spain (7.3 per cent) and Italy (5.7 per cent).
            <br />
            However, the WEF notes, “…there is concern that the size of packages
            may prove insufficient for the duration of the crisis; that
            disbursement may be slower than is needed; that not all firms in
            need would be targeted; and that such programmes may be overly
            reliant on debt financing.”
            <br />
            In Asia, countries including India, China, Indonesia, Japan,
            Singapore and South Korea account for about 85 per cent of all the
            Covid-19 cases on the continent.
          </p>
          <p>
            Further, even as economic activity resumes gradually, the situation
            will take time to normalise, as consumer behaviours change as a
            result of continued social distancing and uncertainty about how the
            pandemic will evolve.
            <br />
            For instance, in its World Economic Outlook report for 2020, the IMF
            mentions that firms may start hiring more people and expanding their
            payroll only slowly, as they may not be clear about the demand for
            their output.
            <br />
            Therefore, along with clear and effective communication, broad
            monetary and fiscal stimuli will be required to be coordinated on an
            international scale for maximum impact, and, “would be most
            effective to boost spending in the recovery phase.”
          </p>
        </div>
      </div>
    </div>
    <!--weather card ends-->
  </div>
  <div class="col-lg-5 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <iframe
          style="width: 100%;
          height: 300px;"
          class="embed-responsive-item"
          src="https://www.youtube.com/embed/f9v6givfTEA?rel=0"
          allowfullscreen=""
        >
        </iframe>
        <div class="about-heading symptom-what-to-do">
          Its spread has left businesses around the world counting costs and
          wondering what recovery could look like.
        </div>
        <span class="no-vaccine"> </span>
        <div class="comparison">
          <div class="major-symptoms">
            Sectoral impact, responses and recommendations
          </div>
          <p
            style="
            font-weight: 100;
            font-size: 14px;
            margin-top: 20px;"
          >
            The ILO’s preliminary assessment of the impact of COVID-19 on
            specific social and economic sectors and industries is captured in a
            series of sectoral briefs.
            <br />
            The briefs also contain policy responses and measures taken by ILO
            constituents – governments, employers and workers – as well as
            available ILO tools and responses at the sector-specific level.
          </p>
          <ul class="list-ticked">
            <li>
              <a
                href="https://www.ilo.org/sector/Resources/publications/WCMS_750548/lang--en/index.htm"
              >
                <strong>COVID-19 and the media and culture sector</strong>
                <br />
              </a>
              It analyses how the sector’s diversity in terms of contract types
              and occupations creates challenges in accessing social protection,
              safety and health, and economic relief programmes. The brief also
              offers policy options, drawing from countries’ examples and
              initiatives from workers’ and employers’ organizations, to
              mitigate the economic impact of the pandemic on the sector.
            </li>
            <li>
              <a
                href="https://www.ilo.org/sector/Resources/publications/WCMS_749497/lang--en/index.htm"
              >
                <strong>Impact of COVID-19 on the forest sector</strong> <br />
              </a>
              It has exacerbated existing challenges, with many enterprises and
              workers suffering as a consequence. In response, governments,
              employers’ and workers’ organizations, and other forestry
              stakeholders around the world, are collaborating to mitigate the
              impact of the pandemic with a view to protecting businesses and
              livelihoods, including through social dialogue and the promotion
              of international labour standards.
            </li>
            <li>
              <a
                href="https://www.ilo.org/sector/Resources/publications/WCMS_749497/lang--en/index.htm"
              >
                <strong>COVID-19 and the Public Service</strong> <br />
              </a>
              As custodians of public goods, public servants are indispensable
              conduits for the recovery. The COVID-19 pandemic demonstrates the
              crucial importance of disaster preparedness and that
              private-sector partners cannot manage alone the scope of
              interventions needed now.As custodians of public goods, public
              servants are indispensable conduits for the recovery. The COVID-19
              pandemic demonstrates the crucial importance of disaster
              preparedness and that private-sector partners cannot manage alone
              the scope of interventions needed now.
            </li>
            <li>
              <a
                href="https://www.ilo.org/sector/Resources/publications/WCMS_749497/lang--en/index.htm"
              >
                <strong>COVID-19 and road transport</strong> <br />
              </a>
              Urgent action by governments, the social partners and parties to
              road transport supply chain parties – including shippers,
              receivers, transport buyers and intermediaries – will be critical
              in addressing decent work challenges for these key workers to
              tackle the crisis effectively.
            </li>
          </ul>
          <div class="other-symptoms">
            <div class="about-heading">
              Quick Links
            </div>
            <div class="about-quick-link">
              <span class="quick-link">
                <a
                  href="https://www.ilo.org/global/topics/coronavirus/sectoral/lang--en/index.htm"
                >
                  Sectoral impact, responses and recommendations
                </a>
              </span>
              <i class="mdi mdi-arrow-right"></i>
            </div>
            <div class="about-quick-link">
              <span class="quick-link">
                <a
                  href="https://www.worldbank.org/en/news/feature/2020/06/08/the-global-economic-outlook-during-the-covid-19-pandemic-a-changed-world"
                >
                  The Global Economic Outlook During the COVID-19 Pandemic: A
                  Changed World
                </a>
              </span>
              <i class="mdi mdi-arrow-right"></i>
            </div>
            <div class="about-quick-link">
              <span class="quick-link">
                <a
                  href="https://www.mckinsey.com/business-functions/strategy-and-corporate-finance/our-insights/the-coronavirus-effect-on-global-economic-sentiment"
                >
                  The coronavirus effect on global economic sentiment
                </a>
              </span>
              <i class="mdi mdi-arrow-right"></i>
            </div>
            <div class="about-quick-link">
              <span class="quick-link">
                <a
                  href="https://www.bbc.com/news/business-51706225#:~:text=Risk%20of%20recession&text=But%20the%20IMF%20says%20that,Great%20Depression%20of%20the%201930s.&text=Recovery%20in%20big%2C%20services%2Dreliant,to%20be%20a%20slow%20process."
                >
                  A visual guide to economic impact
                </a>
              </span>
              <i class="mdi mdi-arrow-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
