<div class="card card-weather">
  <div class="card-body transmission-rate-section symptom-heading-section">
    <div class="about-heading">
      COVID-19: Transmission rate
    </div>
    <div
      routerLink="/home"
      style="font-size: 13px;
      cursor: pointer;
      color: rgb(88, 133, 232);"
    >
      Check Situation <i class="mdi mdi-arrow-right"></i>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-7 grid-margin stretch-card">
    <!--weather card-->
    <div class="card card-weather">
      <div class="card-body transmission-rate-section">
        <div class="about-heading">
          How contagious is the Wuhan Coronavirus?
        </div>
        <p>
          The attack rate or transmissibility (how rapidly the disease spreads)
          of a virus is indicated by its reproductive number (Ro, pronounced
          R-nought or r-zero), which represents the average number of people to
          which a single infected person will transmit the virus.
        </p>
        <div class="comparison">
          An outbreak with a reproductive number of below 1 will gradually
          disappear.<br />
          For comparison, the Ro for the common flu is 1.3 and for SARS it was
          2.0.
        </div>
      </div>
    </div>
    <!--weather card ends-->
  </div>
  <div class="col-lg-5 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <img
          style="width: 100%;"
          src="../../assets/images/transmission/medical.png"
        />
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="mdi mdi-cube text-danger icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">WHO'S ESTIMATED</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0">1.4 - 2.5</h3>
            </div>
          </div>
        </div>
        <!--        <p class="text-muted mt-3 mb-0">-->
        <!--          <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> 65%-->
        <!--          lower growth-->
        <!--        </p>-->
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="mdi mdi-receipt text-warning icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">PRELIMINARY ESTIMATED</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0">1.5 - 3.5</h3>
            </div>
          </div>
        </div>
        <!--        <p class="text-muted mt-3 mb-0">-->
        <!--          <i class="mdi mdi-bookmark-outline mr-1" aria-hidden="true"></i>-->
        <!--          Product-wise sales-->
        <!--        </p>-->
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="mdi mdi-poll-box text-success icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">COMMON FLU</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0">1.3</h3>
            </div>
          </div>
        </div>
        <!--        <p class="text-muted mt-3 mb-0">-->
        <!--          <i class="mdi mdi-calendar mr-1" aria-hidden="true"></i> Weekly Sales-->
        <!--        </p>-->
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="mdi mdi-account-location text-info icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">SARS</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0">2.0</h3>
            </div>
          </div>
        </div>
        <!--        <p class="text-muted mt-3 mb-0">-->
        <!--          <i class="mdi mdi-reload mr-1" aria-hidden="true"></i> Product-wise-->
        <!--          sales-->
        <!--        </p>-->
      </div>
    </div>
  </div>
</div>
