<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav" (click)="toggleSidebar()">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <!--        <div class="user-wrapper">-->
        <!--          <div class="profile-image">-->
        <!--            <img src="assets/images/faces/face1.jpg" alt="profile image" />-->
        <!--          </div>-->
        <!--          <div class="text-wrapper">-->
        <!--            <p class="profile-name">Richard V.Welsh</p>-->
        <!--            <div>-->
        <!--              <small class="designation text-muted">Manager</small>-->
        <!--              <span class="status-indicator online"></span>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->
        <button class="btn btn-success btn-block">
          Initiative
          <i class="mdi mdi-plus"></i>
        </button>
      </div>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/home-dashboard"
        routerLinkActive="active"
      >
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Home</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/age-sex-ratio" routerLinkActive="active">
        <i class="menu-icon mdi mdi-notification-clear-all"></i>
        <span class="menu-title">Age/Sex Impact</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">
        <i class="menu-icon mdi mdi-dna"></i>
        <span class="menu-title">Your country performance.</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/transmission-rate"
        routerLinkActive="active"
      >
        <i class="menu-icon mdi mdi-trackpad"></i>
        <span class="menu-title">Transmission rate of covid19.</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/symptoms" routerLinkActive="active">
        <i class="menu-icon mdi mdi-texture"></i>
        <span class="menu-title">What are the symptoms ?</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/prevention" routerLinkActive="active">
        <i class="menu-icon mdi mdi-content-copy"></i>
        <span class="menu-title">How to prevent ?</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/news" routerLinkActive="active">
        <i class="menu-icon mdi mdi-lightbulb-outline"></i>
        <span class="menu-title">News around the world.</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/world-map" routerLinkActive="active">
        <i class="menu-icon mdi mdi-backup-restore"></i>
        <span class="menu-title">World</span>
      </a>
    </li>
  </ul>
</nav>
