<div class="row" *ngIf="chartLineData && countryPopulation !== null">
  <div class="col-lg-6 row grid-margin stretch-card ml-2">
    <div class="card">
      <div class="card-body expand-container">
        <div class="container-world-heading">
          <img
            class="world-img-vector"
            src="../../assets/images/home/earth-icon-vector.png"
            alt=""
          />
          <div class="section-world-heading">
            <h2 class="card-title text-primary">Total Population</h2>
            <p>Population: {{ countryPopulation | number }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 current-dashboard-status card card-statistics">
            <div class="clearfix">
              <div class="float-left">
                <img
                  style="width: 35px;"
                  src="../../assets/images/country-wise/virus_covid.png"
                />
                <!--                    <i class="mdi mdi-cube text-danger icon-lg"></i>-->
              </div>
              <div class="float-right">
                <p class="mb-0 text-right">Total Confirmed</p>
                <div class="fluid-container">
                  <h3 class="font-weight-medium text-right mb-0">
                    {{ selectedCountryData['TotalConfirmed'] }}
                    <span class="confirmed-gr-rate">
                      ({{ (confirmedGrowthRate * 100).toFixed(2) }}
                      <i class="fa fa-long-arrow-up" aria-hidden="true"></i>)
                    </span>
                  </h3>
                </div>
              </div>
            </div>
            <p class="text-muted mt-3 mb-0">
              <i aria-hidden="true" class="mdi mdi-alert-octagon mr-1"></i>
              {{ selectedCountryData['NewConfirmed'] }} new people infected
              today.
            </p>
          </div>
          <div class="col-md-6 current-dashboard-status card card-statistics">
            <div class="clearfix">
              <div class="float-left">
                <img
                  style="width: 35px;"
                  src="../../assets/images/country-wise/confirm.png"
                />
                <!--                    <i class="mdi mdi-cube text-danger icon-lg"></i>-->
              </div>
              <div class="float-right">
                <p class="mb-0 text-right">Total Recovered</p>
                <div class="fluid-container">
                  <h3 class="font-weight-medium text-right mb-0">
                    {{ selectedCountryData['TotalRecovered'] }}
                    <span class="recovered-gr-rate">
                      ({{ (recoveredGrowthRate * 100).toFixed(2) }}
                      <i class="fa fa-long-arrow-up" aria-hidden="true"></i>)
                    </span>
                  </h3>
                </div>
              </div>
            </div>
            <p class="text-muted mt-3 mb-0">
              <i aria-hidden="true" class="mdi mdi-alert-octagon mr-1"></i>
              {{ selectedCountryData['NewRecovered'] }} have been recovered
              today.
            </p>
          </div>
          <div class="col-md-6 current-dashboard-status card card-statistics">
            <div class="clearfix">
              <div class="float-left">
                <img
                  style="width: 35px;"
                  src="../../assets/images/country-wise/death_covid19.png"
                />
                <!--                    <i class="mdi mdi-cube text-danger icon-lg"></i>-->
              </div>
              <div class="float-right">
                <p class="mb-0 text-right">Total Deaths</p>
                <div class="fluid-container">
                  <h3 class="font-weight-medium text-right mb-0">
                    {{ selectedCountryData['TotalDeaths'] }}
                    <span class="dead-gr-rate">
                      ({{ (deathGrowthRate * 100).toFixed(2) }}
                      <i class="fa fa-long-arrow-up" aria-hidden="true"></i>)
                    </span>
                  </h3>
                </div>
              </div>
            </div>
            <p class="text-muted mt-3 mb-0">
              <i aria-hidden="true" class="mdi mdi-alert-octagon mr-1"></i> We
              have lost {{ selectedCountryData['NewDeaths'] }} people due to
              covid19 today.
            </p>
          </div>
          <div class="col-md-6 current-dashboard-status card card-statistics">
            <div class="clearfix">
              <div class="float-right">
                <p class="mb-0 text-left">
                  Our mission is to make people aware about the current
                  situation and it's aftermath so, we all can take effective
                  measures for the global pandemic that we are facing today.
                </p>
                <div class="fluid-container">
                  <h3 class="font-weight-medium text-right mb-0">
                    #JourneyIsOn
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="newscard" style="cursor: pointer;" (click)="showNews()">
            <div class="clearfix">
              <div class="float-left">
                <img
                  style="width: 35px;"
                  src="../../assets/images/country-wise/news.png"
                />
              </div>
              <div class="float-right">
                <p class="mb-0 text-right" style="color: dodgerblue;">
                  Checkout the top news.
                </p>
                <div class="fluid-container">
                  <h3 class="font-weight-medium text-right mb-0">
                    {{
                      selectedCountryData ? selectedCountryData.label : 'World'
                    }}
                  </h3>
                </div>
              </div>
            </div>
            <p class="text-muted mt-3 mb-0 newscardtag">
              <span class="newscardtag-img">
                <img
                  style="width: 30px;"
                  src="../../assets/images/country-wise/live.png"
                />
              </span>
              <span style="color: black;">#StayUpdated</span>
            </p>
          </div>
          <div
            *ngIf="showDistrictWiseData"
            class="newscard"
            style="cursor: pointer;"
            routerLink="/my-india"
          >
            <div class="clearfix district-india-btn">
              Checkout how your state and district are performing ?
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 row grid-margin stretch-card ml-2">
    <div class="card">
      <div class="card-body expand-container">
        <h2 class="card-title text-primary">Performance History</h2>
        <span class="performance-statement"
          >*Well, confirmed cases are directly proportional to testing. As you
          can see that growth rate is somewhat same. <br />
          While the infected people are much more higher and so is the death
          rate.
        </span>
        <div class="wrapper d-flex justify-content-between">
          <div class="side-left">
            <p class="mb-2">Morality rate</p>
            <p class="display-3 mb-4 font-weight-light">
              {{
                (
                  (selectedCountryData.TotalDeaths /
                    selectedCountryData.TotalConfirmed) *
                  100
                ).toFixed(2)
              }}%
            </p>
            <p class="mb-2">Infection rate</p>
            <p class="display-3 mb-4 font-weight-light">
              {{ (infectionRate * 100).toFixed(2) }}%
            </p>
            <p class="mb-2">Doubling rate</p>
            <p class="display-3 mb-4 font-weight-light doubling-rate-p">
              <span class="doubling-rate">
                {{ doublingConfirmRateOverAll.toFixed(2) }} days
                <span class="doubling-rate-type">(confirmed)</span>
              </span>
              <span class="doubling-rate">
                {{ doublingRecoveredRateOverAll.toFixed(2) }} days
                <span class="doubling-rate-type">(recovered)</span>
              </span>
              <span class="doubling-rate"
                >{{ doublingDeathRateOverAll.toFixed(2) }} days
                <span class="doubling-rate-type">(deaths)</span>
              </span>
            </p>
          </div>
        </div>
        <div class="wrapper">
          <div class="d-flex justify-content-between">
            <p class="mb-2">
              Total people infected in
              {{ selectedCountryData.label }} compared to the world.
            </p>
            <p class="mb-2 text-primary">
              {{
                (
                  (selectedCountryData.TotalConfirmed /
                    globalData.TotalConfirmed) *
                  100
                ).toFixed(4)
              }}%
            </p>
          </div>
          <div class="progress">
            <div
              class="progress-bar bg-infected progress-bar-striped progress-bar-animated"
              role="progressbar"
              aria-valuemin="0"
              aria-valuemax="100"
              [ngStyle]="{ width: showBarValue('percInfected') + '%' }"
            ></div>
          </div>
        </div>
        <div class="wrapper mt-4">
          <div class="d-flex justify-content-between">
            <p class="mb-2">
              {{
                (
                  (selectedCountryData.TotalDeaths / countryPopulation) *
                  1000000
                ).toFixed(4)
              }}
              deaths in 1 million people.
            </p>
            <p class="mb-2 text-primary">
              {{
                (
                  (selectedCountryData.TotalDeaths / countryPopulation) *
                  100
                ).toFixed(2)
              }}%
            </p>
          </div>
          <div class="progress">
            <div
              class="progress-bar bg-per-million progress-bar-striped progress-bar-animated"
              role="progressbar"
              aria-valuemin="0"
              aria-valuemax="100"
              [ngStyle]="{ width: showBarValue('deadPerMillion') + '%' }"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 row grid-margin stretch-card ml-2">
    <div class="card">
      <div class="card-body expand-container">
        <div class="container-world-heading">
          <img
            class="world-img-vector"
            src="../../assets/images/home/earth-icon-vector.png"
            alt=""
          />
          <div class="section-world-heading">
            <h2 class="card-title text-primary">Total</h2>
            <p>Last updated on 4th April 2020</p>
          </div>
        </div>
        <div>
          <canvas
            class="graph-css"
            baseChart
            [chartType]="'line'"
            [datasets]="chartLineData"
            [labels]="chartLineLabels"
            [options]="chartLineOptions"
            [legend]="true"
            (chartClick)="onChartClick($event)"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 row grid-margin stretch-card ml-2">
    <div class="card">
      <div class="card-body expand-container">
        <div class="container-world-heading">
          <img
            class="world-img-vector"
            src="../../assets/images/home/earth-icon-vector.png"
            alt=""
          />
          <div class="section-world-heading">
            <h2 class="card-title text-primary">Total</h2>
            <p>Last updated on 4th April 2020</p>
          </div>
        </div>
        <div>
          <canvas
            class="graph-css"
            baseChart
            [chartType]="'bar'"
            [datasets]="chartLineData"
            [labels]="chartLineLabels"
            [options]="chartLineOptions"
            [legend]="true"
            (chartClick)="onChartClick($event)"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row" *ngIf="!predictiveModal">
  <div class="grid-margin stretch-card predictive-card">
    <div class="card">
      <div class="card-predictive">
        <div class="container-world-heading" style="margin-left: 30px;">
          <img
            class="world-img-vector"
            src="../../assets/images/home/earth-icon-vector.png"
            alt=""
          />
          <div class="section-world-heading">
            <h2 class="card-title text-primary">Total Population</h2>
            <p>Population: {{ countryPopulation | number }}</p>
          </div>
        </div>
        <div class="row select-date-predictive">
          <h3>Select Date</h3>
          <p-calendar
            [style]="{ width: '100%' }"
            [inputStyle]="{ width: '280px', 'margin-left': '30px' }"
            [(ngModel)]="futureDate"
            (ngModelChange)="onFutureDateChange($event)"
            showButtonBar="true"
          >
            <ng-template pTemplate="date" let-date>
              <span
                [ngStyle]="{
                  backgroundColor: date.day === 30 ? '#81C784' : 'inherit'
                }"
                style="border-radius:50%; padding: .25em; width: 2em; height: 2em; display:block"
                >{{ date.day }}</span
              >
            </ng-template>
          </p-calendar>
          <span class="error-txt-date" *ngIf="showDateError">
            *Date has to be greater than today's date.
          </span>
        </div>
        <div class="predictive-img">
          <img src="../../assets/images/predictive/growth_curve.svg" />
        </div>
      </div>
    </div>
  </div>
</div> -->
