.search-country {
  width: 100% !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  padding: 6px !important;
  border-radius: 9px !important;
  margin-top: 5px !important;
  margin-bottom: 10px !important;
}

// Modal design headings
.world-img-vector {
  width: 40px;
  height: 40px;
}

.container-world-heading {
  display: flex;
  flex-direction: row;
}

.section-world-heading {
  display: flex;
  flex-direction: column;
  margin-top: 3px;
  margin-left: 11px;
}

.section-world-heading h2 {
  margin-bottom: 1px;
}

.section-world-heading p {
  font-size: 12px;
  font-weight: 100;
}

.row-data-cases {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
}

.cases-data {
  display: flex;
  flex-direction: row;
}

.item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.item p {
  font-weight: 500;
}

.divider {
  width: 1px;
  margin: 6px 0;
  background: rgba(0, 0, 0, 0.14);
}

.img_case {
  width: 25px;
  height: 25px;
}

.cases-data p {
  font-weight: 100;
  margin-left: 4px;
  font-size: 16px;
}

.dashboard-header {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.img-flag-header {
  width: 40px !important;
  margin-top: -5px;
}

.current-dashboard-status {
  width: 100%;
  padding: 20px;
  box-shadow: 0px 1px 6px 0px #00000066;
}

// news card
.newscard {
  padding: 15px;
  margin-top: 40px;
  box-shadow: 1px 0px 7px 0px #00000024;
  width: 100%;
}

.newscardtag {
  display: flex;
  flex-direction: row;
}

.newscardtag-img {
  flex-grow: 1;
}

.predictive-analysis {
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 20px;
  color: rgb(30, 144, 255);
}

.predictive-analysis:hover {
  font-size: 15px;
}

// Predictive cards
.predictive-card {
  width: 100%;
}

.select-date-predictive {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
}

.predictive-img {
  margin-top: 100px;
}

.predictive-img img {
  display: table;
  margin: auto;
}

.error-txt-date {
  color: red;
  font-size: 14px;
  font-weight: 100;
}

@media only screen and (max-width: 800px) {
  .predictive-img img {
    width: 277px;
  }
}

//  growth rate css

.confirmed-gr-rate {
  font-size: 14px;
  color: red;
}

.recovered-gr-rate {
  font-size: 14px;
  color: green;
}

.dead-gr-rate {
  font-size: 14px;
  color: #3f51b5;
}

.doubling-rate-p {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  font-size: 2rem;
}

.doubling-rate-type {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.doubling-rate {
  margin-left: 15px;
}

.graph-css {
  height: 400px !important;
}

.ml-2 {
  margin-left: 2px;
}

@media only screen and (max-width: 500px) {
  .graph-css {
    height: 320px !important;
  }
  .doubling-rate-p {
    flex-direction: column;
  }
  .doubling-rate {
    margin-left: 0;
  }
}

.bg-infected {
  background-color: #ff5722 !important;
}

.bg-per-million {
  background-color: #ffc107 !important;
}

.performance-statement {
  font-size: 12px;
  color: red;
}

.justify-content-between {
  margin-top: 30px;
}

.district-india-btn {
  font-size: 16px;
  font-weight: 200;
}

@media only screen and (max-width: 750px) {
  .expand-container {
    padding: 12px !important;
    margin-left: -16px !important;
  }
}
